<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>
    <div class="if-no-scheduled-run-2 border-class-1">
        <h1 class="jodee-furrow valign-text-bottom font-class-2">Schedule</h1>
        <div class="calendar border-class-2">
          <div class="background"></div>
          <div class="mo font-class-1 border-class-1">Mo</div>
          <div class="tu font-class-1 border-class-1">Tu</div>
          <div class="we font-class-1 border-class-1">We</div>
          <div class="th font-class-1 border-class-1">Th</div>
          <div class="fr font-class-1 border-class-1">Fr</div>
          <div class="sa font-class-1 border-class-1">Sa</div>
          <div class="su font-class-1 border-class-1">Su</div>
          <div class="x29-sTljUz font-class-1 border-class-1">29</div>
          <div class="x30-sTljUz font-class-1 border-class-1">30</div>
          <div class="x31-sTljUz font-class-1 border-class-1">31</div>
          <div class="x1-sTljUz font-class-1 border-class-1">1</div>
          <div class="x2 font-class-1 border-class-1">2</div>
          <div class="x3 font-class-1 border-class-1">3</div>
          <div class="x4 font-class-1 border-class-1">4</div>
          <div class="x5 font-class-1 border-class-1">5</div>
          <div class="x6 font-class-1 border-class-1">6</div>
          <div class="x7 font-class-3 border-class-1">7</div>
          <div class="x8 font-class-1 border-class-1">8</div>
          <div class="x9 font-class-1 border-class-1">9</div>
          <div class="x10 font-class-1 border-class-1">10</div>
          <div class="x11 font-class-1 border-class-1">11</div>
          <div class="x12 font-class-1 border-class-1">12</div>
          <div class="x13 font-class-1 border-class-1">13</div>
          <div class="x14 font-class-1 border-class-1">14</div>
          <div class="x15 font-class-1 border-class-1">15</div>
          <div class="x16 font-class-1 border-class-1">16</div>
          <div class="x17 font-class-1 border-class-1">17</div>
          <div class="x18 font-class-1 border-class-1">18</div>
          <div class="x19 font-class-1 border-class-1">19</div>
          <div class="x20 font-class-1 border-class-1">20</div>
          <div class="x21 font-class-1 border-class-1">21</div>
          <div class="x22 font-class-1 border-class-1">22</div>
          <div class="x23 font-class-1 border-class-1">23</div>
          <div class="x24 font-class-1 border-class-1">24</div>
          <div class="x25 font-class-1 border-class-1">25</div>
          <div class="x26 font-class-1 border-class-1">26</div>
          <div class="x27 font-class-1 border-class-1">27</div>
          <div class="x28 font-class-1 border-class-1">28</div>
          <div class="x29-J0P1OE font-class-1 border-class-1">29</div>
          <div class="x30-J0P1OE font-class-1 border-class-1">30</div>
          <div class="x31-J0P1OE font-class-1 border-class-1">31</div>
          <div class="x1-J0P1OE font-class-1 border-class-1">1</div>
          <div class="page-header">
            <div class="november font-class-4 border-class-1">November</div>
          </div>
        </div>
        <div class="arrows-slider-bw">
          <img
            class="arrow"
            src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6e375a7a1f7aa9f02dd52/img/arrow@2x.png"
          />
        </div>
        <img
          class="menu-6"
          src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa77d114924a2c17b91c564/img/menu-8@2x.png"
        />
        <div class="left">
          <div class="wastenot valign-text-middle font-class-5 border-class-1">
            <span>
              <span class="span1-rr2Do5">waste</span>
              <span class="span2-rr2Do5">not.</span>
            </span>
          </div>
          <img
            class="wastenot-1"
            src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa77d114924a2c17b91c564/img/wastenot-1@2x.png"
          />
        </div>
      </div>
</body>
</html>