<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>
    <div class="fresh-hacks border-class-1">
        <div class="overlap-group2-C61RwL">
          <img
            class="menu-8"
            src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa77d114924a2c17b91c564/img/menu-8@2x.png"
          />
          <div class="group-3">
            <img
              class="wastenot-1"
              src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa77d114924a2c17b91c564/img/wastenot-1@2x.png"
            />
            <div class="wastenot valign-text-middle font-class-3 border-class-1">
              <span>
                <span class="span1-gupGjy">waste</span>
                <span class="span2-gupGjy">not.</span>
              </span>
            </div>
          </div>
        </div>
        <h1 class="medium-length-headli font-class-4">Fresh Hacks Blog</h1>
        <div class="input-C61RwL border-class-3">
          <div class="input-boyKVH"></div>
          <div class="control"></div>
          <div class="placeholder valign-text-middle font-class-5">Search hacks</div>
        </div>
        <div class="overlap-group-C61RwL">
          <div class="content-blocks">
            <div class="content-co-lock-large">
              <div class="image-5E8jY7">
                <div class="corners-NrTkD6">
                  <div class="scrim-xZeskY">
                    <img
                      class="pexels-cot--4686829-1"
                      src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa77d114924a2c17b91c564/img/pexels-cottonbro-4686829-1@2x.png"
                    />
                    <img
                      class="oval-gouSrx"
                      src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa77d114924a2c17b91c564/img/oval@2x.png"
                    />
                    <img
                      class="triangle-gouSrx"
                      src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa77d114924a2c17b91c564/img/triangle@2x.png"
                    />
                  </div>
                </div>
              </div>
              <p class="video-how---freshness font-class-6 border-class-1">
                Video: How to Prepare Your Greens for <br />Freshness
              </p>
              <div class="text-time">
                <p class="say-goodby-asy-tricks font-class-2 border-class-1">
                  Say goodbye to soggy spinach with these easy tricks!
                </p>
                <div class="x8m-ago font-class-2 border-class-1">8m ago</div>
              </div>
            </div>
          </div>
          <div class="rectangle-11 border-class-2"></div>
        </div>
        <div class="overlap-group1-C61RwL">
          <div class="image-RH0WJ5">
            <div class="corners-ic5oJn">
              <div class="scrim-L3ZsGx">
                <img
                  class="cold-press-juicer-1"
                  src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa77d114924a2c17b91c564/img/cold-press-juicer-1@2x.png"
                />
                <img
                  class="oval-9oFkgL"
                  src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa77d114924a2c17b91c564/img/oval-1@2x.png"
                />
                <img
                  class="triangle-9oFkgL"
                  src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa77d114924a2c17b91c564/img/triangle-1@2x.png"
                />
              </div>
            </div>
          </div>
          <div class="rectangle-12 border-class-2"></div>
          <img
            class="background"
            src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6e375a7a1f7aa9f02dd52/img/background@2x.png"
          />
          <img
            class="shape-RH0WJ5"
            src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6a1974924a2c17b91be94/img/bounds@2x.png"
          />
          <div class="text-RH0WJ5 valign-text-bottom font-class-1">Fresh Shop</div>
          <img
            class="shape-s3i1G8"
            src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6a1974924a2c17b91be94/img/bounds@2x.png"
          />
          <div class="text-s3i1G8 valign-text-bottom font-class-1">Fresh Hacks</div>
          <img
            class="shape-wN84x2"
            src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6a1974924a2c17b91be94/img/bounds@2x.png"
          />
          <div class="text-wN84x2 valign-text-bottom font-class-1">Groceries</div>
          <img
            class="shape-Vr48xL"
            src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6a1974924a2c17b91be94/img/bounds@2x.png"
          />
          <div class="text-Vr48xL valign-text-bottom font-class-1">My Kitchen</div>
          <img
            class="icons8-fridge-50"
            src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6e375a7a1f7aa9f02dd52/img/icons8-fridge-50@2x.png"
          />
          <img
            class="icons8-buying-50"
            src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6e375a7a1f7aa9f02dd52/img/icons8-buying-50@2x.png"
          />
          <img
            class="icons8-lettuce-50"
            src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6e375a7a1f7aa9f02dd52/img/icons8-lettuce-50@2x.png"
          />
          <img
            class="icons8-coo-g-pot-32-1"
            src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6e375a7a1f7aa9f02dd52/img/icons8-cooking-pot-32-1@2x.png"
          />
        </div>
      </div>
</body>
</html>