<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>
    <div class="fresh-shop border-class-1">
        <div class="overlap-group1-C61RwL">
          <img
            class="menu-9"
            src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa77d114924a2c17b91c564/img/menu-9@2x.png"
          />
          <div class="left">
            <img
              class="wastenot-1"
              src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa77d114924a2c17b91c564/img/wastenot-1@2x.png"
            />
            <div class="wastenot valign-text-middle font-class-4 border-class-1">
              <span>
                <span class="span1-1VfGe2">waste</span>
                <span class="span2-1VfGe2">not.</span>
              </span>
            </div>
          </div>
        </div>
        <div class="medium-length-headli font-class-5">Fresh Shop</div>
        <div class="overlap-group-C61RwL">
          <div class="gallery-8">
            <div class="background-snz1ct">
              <div class="fill"></div>
              <div class="x-divider-lGr1Gj"></div>
              <div class="x-divider-qigx2v"></div>
            </div>
            <div class="layout">
              <img
                class="row-1"
                src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa77d114924a2c17b91c564/img/row--1@2x.png"
              />
              <img
                class="row-2"
                src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa77d114924a2c17b91c564/img/row--2@2x.png"
              />
              <div class="row-">
                <div class="image-ybLPm5">
                  <div class="corners-NnCEqQ">
                    <div class="scrim-owdxrV">
                      <img
                        class="pickle-jar-ycle-051-1"
                        src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa77d114924a2c17b91c564/img/pickle-jar-upcycle-051-1@2x.png"
                      />
                      <img
                        class="rectangle-10"
                        src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa77d114924a2c17b91c564/img/rectangle-10-1@2x.png"
                      />
                      <div class="pickling valign-text-bottom font-class-1 border-class-1">Pickling</div>
                    </div>
                  </div>
                </div>
                <div class="image-Zxh6ZC">
                  <div class="corners">
                    <div class="scrim-owdxrV">
                      <img
                        class="x946a691de7-400b426c-1"
                        src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa77d114924a2c17b91c564/img/946a691de75a0991dcaba3af400b426c-1@2x.png"
                      />
                    </div>
                  </div>
                  <img
                    class="rectangle-10"
                    src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa77d114924a2c17b91c564/img/rectangle-10-1@2x.png"
                  />
                  <div class="hacks valign-text-bottom font-class-1 border-class-1">Hacks</div>
                </div>
              </div>
              <div class="row-">
                <div class="image-ybLPm5">
                  <div class="corners-NnCEqQ">
                    <div class="scrim-O1oWfp"></div>
                  </div>
                </div>
                <div class="image-W65vPy">
                  <div class="corners-NnCEqQ">
                    <div class="scrim-O1oWfp"></div>
                  </div>
                </div>
              </div>
              <div class="compost-bins valign-text-bottom font-class-3 border-class-1">Compost Bins</div>
            </div>
          </div>
          <img
            class="kitchen-va--machine-1"
            src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa77d114924a2c17b91c564/img/kitchen-vacuum-food-sealer-with-10pcs-food-seal-bags-automatic-e@2x.jpg"
          />
          <div class="food-preservation valign-text-bottom font-class-3 border-class-1">Food Preservation</div>
          <img
            class="image-4eduM0"
            src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa77d114924a2c17b91c564/img/image@2x.png"
          />
          <img
            class="rectangle-5"
            src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa77d114924a2c17b91c564/img/rectangle-5-1@2x.png"
          />
          <h1 class="give-green-is-holiday valign-text-bottom font-class-6 border-class-1">Give Green This Holiday</h1>
          <div class="shop-gift-sets valign-text-bottom font-class-7 border-class-1">Shop Gift Sets</div>
          <div class="rectangle-8-4eduM0"></div>
          <div class="composting valign-text-bottom font-class-1 border-class-1">Composting</div>
          <div class="rectangle-9"></div>
          <div class="vaccum-sealers valign-text-bottom font-class-1 border-class-1">Vaccum Sealers</div>
          <img
            class="mask-group"
            src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa77d114924a2c17b91c564/img/mask-group@2x.png"
          />
          <img
            class="rectangle-8-BJQsbv"
            src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa77d114924a2c17b91c564/img/rectangle-10-1@2x.png"
          />
          <div class="juicers valign-text-bottom font-class-1 border-class-1">Juicers</div>
          <img
            class="background-4eduM0"
            src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6e375a7a1f7aa9f02dd52/img/background@2x.png"
          />
          <img
            class="shape-4eduM0"
            src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6a1974924a2c17b91be94/img/bounds@2x.png"
          />
          <div class="text-4eduM0 valign-text-bottom font-class-2">Fresh Shop</div>
          <img
            class="shape-BJQsbv"
            src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6a1974924a2c17b91be94/img/bounds@2x.png"
          />
          <div class="text-BJQsbv valign-text-bottom font-class-2">Fresh Hacks</div>
          <img
            class="shape-6sb1qn"
            src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6a1974924a2c17b91be94/img/bounds@2x.png"
          />
          <div class="text-6sb1qn valign-text-bottom font-class-2">Groceries</div>
          <img
            class="shape-ovOecM"
            src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6a1974924a2c17b91be94/img/bounds@2x.png"
          />
          <div class="text-ovOecM valign-text-bottom font-class-2">My Kitchen</div>
          <img
            class="icons8-fridge-50"
            src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6e375a7a1f7aa9f02dd52/img/icons8-fridge-50@2x.png"
          />
          <img
            class="icons8-buying-50"
            src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6e375a7a1f7aa9f02dd52/img/icons8-buying-50@2x.png"
          />
          <img
            class="icons8-lettuce-50"
            src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6e375a7a1f7aa9f02dd52/img/icons8-lettuce-50@2x.png"
          />
          <img
            class="icons8-coo-g-pot-32-1"
            src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6e375a7a1f7aa9f02dd52/img/icons8-cooking-pot-32-1@2x.png"
          />
        </div>
      </div>
</body>
</html>