<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>
    <div class="home border-class-1">
        <img
          class="ellipse-1"
          src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6e375a7a1f7aa9f02dd52/img/ellipse-1@2x.png"
        />
        <h1 class="x1-day-C61RwL valign-text-bottom font-class-4 border-class-1">
          <span>
            <span class="span1-0rt56M">1<br /></span>
            <span class="span2-0rt56M">day</span>
          </span>
        </h1>
        <div class="x3-days-C61RwL valign-text-bottom font-class-4 border-class-1">
          <span>
            <span class="span1-zipsWH">3<br /></span>
            <span class="span2-zipsWH">days</span>
          </span>
        </div>
        <img
          class="bounds-C61RwL"
          src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6a1974924a2c17b91be94/img/bounds@2x.png"
        />
        <div class="arrow-C61RwL"></div>
        <div class="x1" onclick="">
          <div class="arrow-GML0ip" onclick="">
            <img
              class="arrow-right"
              src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6e375a7a1f7aa9f02dd52/img/arrow-right@2x.png"
            />
          </div>
          <div class="overlap-group">
            <img
              class="bounds-9PMwhg"
              src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6a1974924a2c17b91be94/img/bounds@2x.png"
            />
            <div class="speaking-of-which-p-9PMwhg valign-text-bottom font-class-2">2 Items</div>
          </div>
          <div class="graphics-d-ider-375px-GML0ip">
            <img
              class="rectangle-E8q67H"
              src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6e375a7a1f7aa9f02dd52/img/rectangle@2x.png"
            />
          </div>
        </div>
        <div class="avocado-C61RwL valign-text-bottom font-class-3">Avocado, Ripe</div>
        <img
          class="ellipse-2"
          src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6e375a7a1f7aa9f02dd52/img/ellipse-1@2x.png"
        />
        <div class="graphics-d-ider-375px-C61RwL">
          <img
            class="rectangle-aGuDgF"
            src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa77d114924a2c17b91c564/img/rectangle-1@2x.png"
          />
        </div>
        <div class="arrow-VMr6Om" onclick="">
          <img
            class="arrow-right"
            src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6e375a7a1f7aa9f02dd52/img/arrow-right@2x.png"
          />
        </div>
        <div class="speaking-of-which-p-C61RwL valign-text-bottom font-class-2">1 Items</div>
        <div class="avocado-VMr6Om valign-text-bottom font-class-3">Banana Bunch</div>
        <img
          class="background-C61RwL"
          src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6e375a7a1f7aa9f02dd52/img/background-1@2x.png"
        />
        <img
          class="shape-C61RwL"
          src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6a1974924a2c17b91be94/img/bounds@2x.png"
        />
        <img
          class="shape-VMr6Om"
          src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6a1974924a2c17b91be94/img/bounds@2x.png"
        />
        <div class="medium-length-headli font-class-7">My Kitchen</div>
        <div class="tabs-full--h-inactive-C61RwL">
          <div class="inactive valign-text-middle font-class-6">Freezer</div>
        </div>
        <div class="tabs-full--h-inactive-VMr6Om">
          <div class="inactive valign-text-middle font-class-6">Pantry</div>
        </div>
        <div class="tabs-full--dth-active">
          <div class="active valign-text-middle font-class-8">Fridge</div>
          <div class="rectangle-3bKHAQ"></div>
        </div>
        <img
          class="ellipse-6"
          src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6e375a7a1f7aa9f02dd52/img/ellipse-1@2x.png"
        />
        <div class="x10-days valign-text-bottom font-class-5 border-class-1">
          <span>
            <span class="span1-r4OuZR">10<br /></span>
            <span class="span2-r4OuZR">days</span>
          </span>
        </div>
        <div class="graphics-d-ider-375px-VMr6Om">
          <img
            class="rectangle-E8q67H"
            src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6e375a7a1f7aa9f02dd52/img/rectangle@2x.png"
          />
        </div>
        <div class="arrow-mzXdH9" onclick="">
          <img
            class="arrow-right"
            src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6e375a7a1f7aa9f02dd52/img/arrow-right@2x.png"
          />
        </div>
        <div class="speaking-of-which-p-VMr6Om valign-text-bottom font-class-2">2 Items</div>
        <div class="avocado-mzXdH9 valign-text-bottom font-class-3">Sour Cream</div>
        <img
          class="ellipse-3"
          src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6e375a7a1f7aa9f02dd52/img/ellipse-1@2x.png"
        />
        <div class="x3-days-VMr6Om valign-text-bottom font-class-4 border-class-1">
          <span>
            <span class="span1-47l7z6">3<br /></span>
            <span class="span2-47l7z6">days</span>
          </span>
        </div>
        <div class="graphics-d-ider-375px-mzXdH9">
          <img
            class="rectangle-E8q67H"
            src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6e375a7a1f7aa9f02dd52/img/rectangle@2x.png"
          />
        </div>
        <div class="arrow-QxM5SU" onclick="">
          <img
            class="arrow-right"
            src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6e375a7a1f7aa9f02dd52/img/arrow-right@2x.png"
          />
        </div>
        <div class="speaking-of-which-p-mzXdH9 valign-text-bottom font-class-2">1 Items</div>
        <div class="avocado-QxM5SU valign-text-bottom font-class-3">Pasta Sauce</div>
        <img
          class="ellipse-4"
          src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6e375a7a1f7aa9f02dd52/img/ellipse-1@2x.png"
        />
        <div class="x7-days-C61RwL valign-text-bottom font-class-5 border-class-1">
          <span>
            <span class="span1-XHyhjt">7<br /></span>
            <span class="span2-XHyhjt">days</span>
          </span>
        </div>
        <div class="graphics-d-ider-375px-QxM5SU">
          <img
            class="rectangle-E8q67H"
            src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6e375a7a1f7aa9f02dd52/img/rectangle@2x.png"
          />
        </div>
        <div class="arrow-2P4qUJ" onclick="">
          <img
            class="arrow-right"
            src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6e375a7a1f7aa9f02dd52/img/arrow-right@2x.png"
          />
        </div>
        <div class="speaking-of-which-p-QxM5SU valign-text-bottom font-class-2">1 Item</div>
        <div class="avocado-2P4qUJ valign-text-bottom font-class-3">Milk</div>
        <img
          class="ellipse-5"
          src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6e375a7a1f7aa9f02dd52/img/ellipse-1@2x.png"
        />
        <div class="x7-days-VMr6Om valign-text-bottom font-class-5 border-class-1">
          <span>
            <span class="span1-6iyVKv">7<br /></span>
            <span class="span2-6iyVKv">days</span>
          </span>
        </div>
        <div class="graphics-d-ider-375px-2P4qUJ">
          <img
            class="rectangle-E8q67H"
            src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6e375a7a1f7aa9f02dd52/img/rectangle@2x.png"
          />
        </div>
        <img
          class="ellipse-7"
          src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6e375a7a1f7aa9f02dd52/img/ellipse-1@2x.png"
        />
        <div class="x14-days valign-text-bottom font-class-5 border-class-1">
          <span>
            <span class="span1-Nyd23U">14<br /></span>
            <span class="span2-Nyd23U">days</span>
          </span>
        </div>
        <div class="graphics-d-ider-375px-qr8e7q">
          <img
            class="rectangle-E8q67H"
            src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6e375a7a1f7aa9f02dd52/img/rectangle@2x.png"
          />
        </div>
        <div class="arrow-qr8e7q" onclick="">
          <img
            class="arrow-right"
            src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6e375a7a1f7aa9f02dd52/img/arrow-right@2x.png"
          />
        </div>
        <div class="speaking-of-which-p-2P4qUJ valign-text-bottom font-class-2">12 Items</div>
        <div class="avocado-qr8e7q valign-text-bottom font-class-3">Apples</div>
        <div class="graphics-d-ider-375px-J1YQmd">
          <img
            class="rectangle-E8q67H"
            src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6e375a7a1f7aa9f02dd52/img/rectangle@2x.png"
          />
        </div>
        <div class="arrow-J1YQmd" onclick="">
          <img
            class="arrow-right"
            src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6e375a7a1f7aa9f02dd52/img/arrow-right@2x.png"
          />
        </div>
        <div class="speaking-of-which-p-qr8e7q valign-text-bottom font-class-2">3 Items</div>
        <div class="avocado-J1YQmd valign-text-bottom font-class-3">Cheese</div>
        <img
          class="background-VMr6Om"
          src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6e375a7a1f7aa9f02dd52/img/background@2x.png"
        />
        <img
          class="shape-mzXdH9"
          src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6a1974924a2c17b91be94/img/bounds@2x.png"
        />
        <img
          class="shape-QxM5SU"
          src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6a1974924a2c17b91be94/img/bounds@2x.png"
        />
        <img
          class="shape-2P4qUJ"
          src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6a1974924a2c17b91be94/img/bounds@2x.png"
        />
        <img
          class="shape-qr8e7q"
          src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6a1974924a2c17b91be94/img/bounds@2x.png"
        />
        <div class="text-C61RwL valign-text-bottom font-class-1">My Kitchen</div>
        <img
          class="icons8-fridge-50-C61RwL"
          src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6e375a7a1f7aa9f02dd52/img/icons8-fridge-50@2x.png"
        />
        <div class="groceries-button-C61RwL" onclick="">
          <img
            class="icons8-buying-50"
            src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6e375a7a1f7aa9f02dd52/img/icons8-buying-50@2x.png"
          />
          <div class="text-2">
            <div class="text-nfZULP valign-text-bottom font-class-1">Groceries</div>
          </div>
        </div>
        <div class="fresh-hacks-button-C61RwL" onclick="">
          <img
            class="icons8-lettuce-50"
            src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6e375a7a1f7aa9f02dd52/img/icons8-lettuce-50@2x.png"
          />
          <div class="text-3">
            <div class="text-3TkLxk valign-text-bottom font-class-1">Fresh Hacks</div>
          </div>
        </div>
        <div class="fresh-shop-button-C61RwL" onclick="">
          <img
            class="icons8-coo-g-pot-32-1"
            src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6e375a7a1f7aa9f02dd52/img/icons8-cooking-pot-32-1@2x.png"
          />
          <div class="text-5">
            <div class="text-m7b4CL valign-text-bottom font-class-1">Fresh Shop</div>
          </div>
        </div>
        <img
          class="background-mzXdH9"
          src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6e375a7a1f7aa9f02dd52/img/background@2x.png"
        />
        <img
          class="shape-J1YQmd"
          src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6a1974924a2c17b91be94/img/bounds@2x.png"
        />
        <img
          class="shape-a5WPlX"
          src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6a1974924a2c17b91be94/img/bounds@2x.png"
        />
        <img
          class="shape-HlKRTo"
          src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6a1974924a2c17b91be94/img/bounds@2x.png"
        />
        <img
          class="shape-VkPPtx"
          src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6a1974924a2c17b91be94/img/bounds@2x.png"
        />
        <div class="text-VMr6Om valign-text-bottom font-class-1">My Kitchen</div>
        <img
          class="icons8-fridge-50-VMr6Om"
          src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6e375a7a1f7aa9f02dd52/img/icons8-fridge-50@2x.png"
        />
        <div class="groceries-button-VMr6Om" onclick="">
          <img
            class="icons8-buying-50"
            src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6e375a7a1f7aa9f02dd52/img/icons8-buying-50@2x.png"
          />
          <div class="text-2">
            <div class="text-nfZULP valign-text-bottom font-class-1">Groceries</div>
          </div>
        </div>
        <div class="fresh-hacks-button-VMr6Om" onclick="">
          <img
            class="icons8-lettuce-50"
            src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6e375a7a1f7aa9f02dd52/img/icons8-lettuce-50@2x.png"
          />
          <div class="text-3">
            <div class="text-3TkLxk valign-text-bottom font-class-1">Fresh Hacks</div>
          </div>
        </div>
        <div class="fresh-shop-button-VMr6Om" onclick="">
          <img
            class="icons8-coo-g-pot-32-1"
            src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6e375a7a1f7aa9f02dd52/img/icons8-cooking-pot-32-1@2x.png"
          />
          <div class="text-5">
            <div class="text-m7b4CL valign-text-bottom font-class-1">Fresh Shop</div>
          </div>
        </div>
        <div class="x1-day-VMr6Om valign-text-bottom font-class-4 border-class-1">
          <span>
            <span class="span1-WLLxs0">1<br /></span>
            <span class="span2-WLLxs0">day</span>
          </span>
        </div>
        <div class="button">
          <div class="label">
            <div class="action valign-text-middle font-class-9">Quick Add</div>
          </div>
        </div>
        <img
          class="menu-2"
          src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6e375a7a1f7aa9f02dd52/img/menu-2@2x.png"
        />
      </div>
</body>
</html>