<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>WasteNot App</title>
</head>
<body>
    <div class="loading-screen border-class-1">
        <div class="frame-1">
          <img
            class="wastenot-1"
            src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6d1aca7a1f7aa9f02dcb0/img/wastenot-1@2x.png"
          />
          <h1 class="wastenot valign-text-middle font-class-1 border-class-1">
            <span>
              <span class="span1-ZWxCAD">waste</span>
              <span class="span2-ZWxCAD">not.</span>
            </span>
          </h1>
        </div>
      </div>
</body>
</html>
