<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>
    <div class="if-no-scheduled-run border-class-1">
        <div class="overlap-group-C61RwL">
          <div class="arrows-slider-bw">
            <img
              class="arrow"
              src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6e375a7a1f7aa9f02dd52/img/arrow@2x.png"
            />
          </div>
          <div class="left">
            <img
              class="wastenot-1"
              src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa77d114924a2c17b91c564/img/wastenot-1@2x.png"
            />
            <div class="wastenot valign-text-middle font-class-2 border-class-1">
              <span>
                <span class="span1-nfUvPJ">waste</span>
                <span class="span2-nfUvPJ">not.</span>
              </span>
            </div>
          </div>
          <img
            class="menu-5"
            src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa77d114924a2c17b91c564/img/menu-5@2x.png"
          />
        </div>
        <h1 class="jodee-furrow valign-text-bottom font-class-3">You have no scheduled grocery <br />runs</h1>
        <img
          class="shopping-296471280-1"
          src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa77d114924a2c17b91c564/img/shopping-29647-1280-1@2x.png"
        />
        <div class="button">
          <div class="label">
            <div class="action valign-text-middle font-class-4">Schedule a Run</div>
          </div>
        </div>
        <div class="overlap-group1-C61RwL">
          <img
            class="background"
            src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6e375a7a1f7aa9f02dd52/img/background@2x.png"
          />
          <img
            class="shape-RH0WJ5"
            src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6a1974924a2c17b91be94/img/bounds@2x.png"
          />
          <img
            class="shape-s3i1G8"
            src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6a1974924a2c17b91be94/img/bounds@2x.png"
          />
          <img
            class="shape-wN84x2"
            src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6a1974924a2c17b91be94/img/bounds@2x.png"
          />
          <img
            class="shape-Vr48xL"
            src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6a1974924a2c17b91be94/img/bounds@2x.png"
          />
          <div class="text-RH0WJ5 valign-text-bottom font-class-1">My Kitchen</div>
          <img
            class="icons8-fridge-50"
            src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6e375a7a1f7aa9f02dd52/img/icons8-fridge-50@2x.png"
          />
          <a href="if-no-scheduled-run.html">
            <div class="groceries-button">
              <img
                class="icons8-buying-50"
                src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6e375a7a1f7aa9f02dd52/img/icons8-buying-50@2x.png"
              />
              <div class="text-2">
                <div class="text-r1NBVO valign-text-bottom font-class-1">Groceries</div>
              </div>
            </div></a
          >
          <div class="fresh-hacks-button">
            <img
              class="icons8-lettuce-50"
              src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6e375a7a1f7aa9f02dd52/img/icons8-lettuce-50@2x.png"
            />
            <div class="text-3">
              <div class="text-wnQrGL valign-text-bottom font-class-1">Fresh Hacks</div>
            </div>
          </div>
          <div class="fresh-shop-button">
            <img
              class="icons8-coo-g-pot-32-1"
              src="https://anima-uploads.s3.amazonaws.com/projects/5fa6a1504924a2c17b91be91/releases/5fa6e375a7a1f7aa9f02dd52/img/icons8-cooking-pot-32-1@2x.png"
            />
            <div class="text-5">
              <div class="text-hTqQYP valign-text-bottom font-class-1">Fresh Shop</div>
            </div>
          </div>
        </div>
      </div>
</body>
</html>